
@{
    ViewData["Title"] = "Login";
}

<h1>Login Empleados</h1>

<h2 class="text-primary">@ViewData["MENSAJE"]</h2>


<form method="post">
    <label>User: </label>
    <input type="text" name="username" class="form-control" />
    <label>Password: </label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-dark">Enviar</button>
</form>

